
:root {
    --text: #161515;
    --background: #ffffff;
    --primary: #0a6161;
    --secondary: #e6b32f;
    --accent: #b12f2f;
    
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    font-family: 'JetBrains Mono', monospace;
}

a {
    color: var(--accent);
}



input[type="text"], input[type="password"], input[type="number"] {
    font-family: inherit;
    color: var(--text);
    outline: none;
    height: 5vh;
    padding-left: 15px;
    font-size: 15px;
    cursor: pointer;
}

option {
    font-family: inherit;
    color: var(--text);
    background-color: var(--background);
    outline: none;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
}

select {
    font-family: inherit;
    font-size: 15px;
    padding-top: calc((5vh - 15px) / 2);
    padding-bottom: calc((5vh - 15px) / 2);
    padding-left: 15px;
}


button{
    color: var(--background);
    background-color: var(--text);
    font-family: inherit;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}

#home {
    display: grid;
    height: 80vh;
    margin-bottom: 10vh;
   
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

h1#home-title {
    color: var(--accent);
    font-size: 80px;
}


#footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--text);
    width: 100vw;
    height: 10vh;
    place-items: center;
    text-align: center;
}

.footer-item {
    width: 100%;
}

.contrast {
    color: var(--background);
}

.navbar {
    display: grid;
    place-items: center;
    background-color: var(--text);
    
    
    width: 100vw;
    height: 10vh; 
}

#navbar-items {
    display: flex;
    height: 10vh;
    width: 80vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.full-width {
    width: 100vw;
}

.full-height {
    height: 100vh;
}

.centred {
    display: grid;
    place-items: center;
}

.border {
    border-style: solid;
    border-radius: 5px;
    border-color: var(--text);
}

#must-login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    height: 90vh;
}


#login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

#register-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

#logout-button {
    width: 30%;
    margin-top: 25px;
    margin-bottom: 50px;
    
}

#meal-page {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 50px;
    
}


#meal-form {
    display: flex;
    width: 80%;
    
    gap: 10px;
    flex-direction: column;
}

.meal-item {
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

#macros {
    width: 40vw;
    height: 75vh;
    margin: 10px;
    padding: 20px;
    border-color: var(--accent);
}

#challenge {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-page {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.property-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    width: 50vw;
}

#macro-info {
    text-align: center;
}

#meal-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

button.positive {
    background-color: var(--primary);
    border-color: var(--primary);
}

button.neutral {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

button.negative {
    background-color: var(--accent);
    border-color: var(--accent);
}

svg {
    height: 40%;
}

button.important {
    transition: all 0.3s ease-in-out;
}

button.important:hover {
    scale: 1.2;
}

@media only screen and (max-width: 600px) {
    
    

    #meal-page {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        
        
        margin-left: -5px;
        padding: 0px;
    }

    .meal-item {
        padding-bottom: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #macros {
        width: 80vw;
    }


    .property-form {
        width: 70vw;
    }

    #home {
        margin-left: 25px;
        margin-right: 25px;
    }

    

    h1#home-title {
        color: var(--accent);
        font-size: 60px;
    }

    h2#home-description {
        font-size: 25px;
    }

    #must-login {
        text-align: center;
        padding: 20px;
        height: 70vh;
    }
  }