:root {
    --text: #161515;
    --background: #ffffff;
    --primary: #2bd4d4;
    --secondary: #ecb1b1;
    --accent: #b12f2f;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    font-family: Monolisa;
}

a {
    color: var(--accent);
}



input[type="text"], input[type="password"], input[type="number"] {
    font-family: Monolisa;
    color: var(--text);
    outline: none;
    height: 5vh;
    
    font-size: 15px;
    cursor: pointer;
}

option {
    font-family: Monolisa;
    color: var(--text);
    outline: none;
    height: 5vh;
    width: 35vw;
    font-size: 15px;
    cursor: pointer;
}

select {
    font-family: Monolisa;

}

button{
    color: var(--background);
    background-color: var(--text);
    font-family: Monolisa;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}

.navbar {
    display: grid;
    place-items: center;
    background-color: var(--text);
    
    
    width: 100vw;
    height: 10vh; 
}

#navbar-items {
    display: flex;
    height: 10vh;
    width: 80vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.full-width {
    width: 100vw;
}

.full-height {
    height: 80vh;
}

.centred {
    display: grid;
    place-items: center;
}

.border {
    border-style: solid;
    border-radius: 5px;
    border-color: var(--text);
}

#must-login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    height: 90vh;
}


#login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

#profile-page {
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}


#meal-form {
    display: flex;
    width: 80%;
    
    gap: 10px;
    flex-direction: column;
}

.meal-item {
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

#macros {
    width: 40vw;
    height: 80vh;
    margin: 10px;
    padding: 20px;
    border-color: var(--accent);
}

svg {
    height: 50%;
}

@media only screen and (max-width: 600px) {
   
    #profile-page {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: auto;
    }

    #macros {
        width: 80vw;
        
        
    }


  }